* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.textarea {
  width: 100%;
  max-width: 1310px;

  min-height: 68vh;

  margin: 0 auto;
  padding: 0 26px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

textarea {
  width: 100%;

  min-height: 48vh;

  border: 1px solid darkorchid;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(128, 128, 128, 0.5);
  padding: 8px;

  font-size: 1rem;
  line-height: 1.5;

  resize: vertical;
}

.textarea h2 {
  color: firebrick;
}

button {
  background-color: darkorchid;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 4px 20px 0 gray;

  font-weight: 600;
  cursor: pointer;
}

.resultado {
  min-height: 68vh;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;

  padding: 0 24px;
}

.resultado > div {
  width: 100%;
  max-width: 402px;
  height: 560px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 16px;

  border: 2px dashed darkorchid;
  background-color: rgba(128, 128, 128, 0.5);
}

.desativado {
  display: none;
}

.resultado > div:hover {
  border: 2px solid darkorchid;
  cursor: pointer;
}
