* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textarea {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

textarea {
  border: 1px solid darkorchid;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(128, 128, 128, 0.5);
  padding: 8px;
}

.textarea h2 {
  color: firebrick;
}

button {
  background-color: darkorchid;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 4px 20px 0 gray;

  font-weight: 600;
  cursor: pointer;
}
