:root {
  --bg-button: #f0f0f0;
  --bg-button-hover: #e0e0e0;
  --border-button: solid 1px #888888;
  --bg-button-operation: #fa8231;
  --bg-button-operation-hover: #e5671c;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  /* border-right: var(--border-button);
  border-left: var(--border-button); */
  border: var(--border-button);
  outline: none;

  cursor: pointer;
}

.button:active {
  background-color: var(--bg-button-hover);
}

.button.triple {
  grid-column: span 3;
}

.button.double {
  grid-column: span 2;
}

.button.operation {
  background-color: var(--bg-button-operation);
  color: white;
}

.button.operation:active {
  background-color: var(--bg-button-operation-hover);
}
